{
  "version": 1,
  "woocommerce": {
    "url": "http://woocommerce.lndo.site/" ,
    "consumerKey": "ck_a6849f91fc021160c8fde2dadc9aa91aa733f46d",
    "consumerSecret": "cs_29abba0e6335270b904328494d908efa2937479b",
    "wpAPI": true,
    "version": "wc/v3"
  },
  "source": {
    "filename": "example.xlsx"
  }
}
